*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #EEE;
	font-family: 'Roboto', sans-serif;
}
.container{
	max-width: 1000px;
	background-color: #E4F9F5;
	margin: 0 auto;
	padding: 20px;
}
.header-image{
	height: 120px;
	width: 100px;
	border: 3px solid gray;
	border-radius: 50%;
	float: left;
}
.header-bio{

	float: left;
	padding: 30px;
}
h1,h2,h3,h4,h5,h6{
	color: #11999e;
}
.contact{
	float: right;
	padding: 30px;
}
.contact a{
	text-decoration: none;
	color: teal;
	font-weight: bold;
	
}
.contact a:hover{
	
	color: tomato;
	
}
.div-clr{
	clear: both;
}
hr{
	border: solid black 3px;
	width: 100%;
	margin: 20px auto;
	border-bottom: none;
}

	/*-----personal section---*/

.content{
	margin: 30px;
}
.left-div{
	width: 30%;
	float: left;
}
.right-div{
	float: right;
	width: 70%;
	padding: 0 0 20px; 0;
}
.common-hr{
	border: solid black 1px;
	border-bottom: none;
	margin: 20px auto;
}

table{
	border-collapse: collapse;



}
 tr th{
	border: 2px solid teal;
	padding: 15px;
	font-size: 20px;
	color: teal;

}
 tr td{
	border: 2px solid teal;
	padding: 15px;
}
ul li b{
	color: teal;
}
ul li {
	padding: 0 0 20px 0;
}
.left-detils{
	float: left;
	width: 20%;
	font-weight: bold;
	color: teal;
}
.center-detils{
	font-weight: bolder;
	float: left;
	width: 10%;
	color: teal;
}

}
.right-detils{
	font-weight: bold;
	float: left;
	width: 70%;
}
.sign{
	padding: 40px 0 0 0;
}
.sign2{
	padding: 0 0 20px 0;
}
footer{
	padding: 10px;
	background-color: black;
	text-align: center
}
footer a{
	color: white;
	text-decoration: none;
	margin: 20px;
}
footer a:hover{
	color: red;
	text-decoration: none;
	padding: 0 10px;
}
footer p{
	color: white;
	
}